<header pageTitle="Home" imageUrl="home" helpType="homepage"></header>
<mat-card [@fallIn]='state'>
  <!--mat-card-header>
    <mat-card-title>
      <mat-icon svgIcon="dashboard-black"></mat-icon>Elish Consulting
    </mat-card-title>
    <mat-card-subtitle>PAYROLL App</mat-card-subtitle>
  </mat-card-header-->
  <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
  <mat-card-content *ngIf="!this.user else showLoggedIn">
    <mat-error *ngIf="error" [@fallIn]='state'>{{ 'LOGIN-CREDENTIALS' | translate }}</mat-error>
    <form #formData="ngForm" (ngSubmit)="login(formData.value)" class="example-form">
      <mat-card-actions align="start">
        <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary">{{ 'LOGIN' | translate }}</button>
      </mat-card-actions>
      <mat-form-field class="example-form">
        <input matInput placeholder="{{ 'EMAIL' | translate }}" name="email" #email="ngModel" ngModel required email>
      </mat-form-field>
      <br>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">{{ 'VALID-EMAIL' | translate }}</mat-error>
      <mat-form-field class="example-form">
        <input matInput type="password" placeholder="{{ 'PASSWORD' | translate }}" name="password" #password="ngModel" ngModel required minlength="5"
          maxlength="30">
      </mat-form-field>
      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <mat-error *ngIf="password.errors['required']">{{ 'PASSWORD-REQUIRED' | translate }}</mat-error>
        <mat-error *ngIf="password.errors['minlength']">{{ 'PASSWORD-5-CHARACTERS' | translate }}</mat-error>
        <mat-error *ngIf="password.errors['maxlength']">{{ 'PASSWORD-30-CHARACTERS' | translate }}</mat-error>
      </span>
    </form>
    <mat-card-actions>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/signup">
        {{ 'NO-ACCOUNT' | translate }} <strong>{{ 'CREATE-ONE' | translate }}</strong>
      </button>
    </mat-card-actions>
  </mat-card-content>
  <mat-card-content *ngIf="socialAuth">
    <mat-chip-list class="mat-chip-list-stacked" style="margin-left: 170px;">
      <mat-chip color="primary" selected="true" (click)="login('FB')">
        {{ 'LOGIN-FACEBOOK' | translate }}
      </mat-chip>
      <mat-chip color="warn" selected="true" (click)="login('GOOGLE')">
        {{ 'LOGIN-GOOGLE' | translate }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <ng-template #showLoggedIn>
    <button type="button" routerLink="/settings" mat-raised-button color="primary">{{ 'CLICK-HERE' | translate }}</button>
    <br/><br/><br/><br/>
    <button type="button" (click)="logout()" mat-raised-button color="primary">{{ 'LOGOUT' | translate }}</button>
  </ng-template>
</mat-card>