<mat-toolbar color="primary">
  <!---
    <button mat-mini-fab color="warn">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
  <button mat-mini-fab color="warn" [matMenuTriggerFor]="rootMenu">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>-->
  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item routerLink="/aboutus"><mat-icon svgIcon="dashboard-black" color="primary"></mat-icon>{{ 'HOME' | translate }}</button>
    <button mat-menu-item [matMenuTriggerFor]="emplMenu"><mat-icon svgIcon="star" color="primary"></mat-icon>{{ 'MANAGE' | translate }}</button>
      <button mat-menu-item [matMenuTriggerFor]="setupMenu"><mat-icon svgIcon="business" color="primary"></mat-icon>{{ 'SETUPS' | translate }}</button>
    <button mat-menu-item [matMenuTriggerFor]="contactMenu"><mat-icon svgIcon="phone" color="primary"></mat-icon>{{ 'CONTACT' | translate }}</button>
  </mat-menu>
  <mat-menu #emplMenu="matMenu">
      <button mat-menu-item routerLink="/employee">{{ 'EMPLOYEE' | translate }}</button>
      <button mat-menu-item routerLink="/salary">{{ 'SALARY-VOUCHERS' | translate }}</button>
      <button mat-menu-item routerLink="/voucher">{{ 'VOUCHERS' | translate }}</button>
      <button mat-menu-item routerLink="/expenses">{{ 'EXPENSES' | translate }}</button>
  </mat-menu>
  <mat-menu #setupMenu="matMenu">
    <button mat-menu-item routerLink="/jobcode">{{ 'JOB-CODE' | translate }}</button>
    <button mat-menu-item routerLink="/salarycode">{{ 'SALARY-CODE' | translate }}</button>
    <button mat-menu-item routerLink="/leavecode">{{ 'LEAVE-CODE' | translate }}</button>
  </mat-menu>
  <mat-menu #contactMenu="matMenu">
    <a href="{{ configData.fblink }}" target="_blank">
      <button mat-menu-item>
        <mat-icon matTooltip="connect with FaceBook" svgIcon="facebook"></mat-icon>
      </button>
    </a>
    <a href="{{ configData.linkedin }}" target="_blank">
      <button mat-menu-item>
        <mat-icon matTooltip="connect with LinkedIn" svgIcon="linkedin"></mat-icon>
      </button>
    </a>
    <a href="{{ configData.github }}" target="_blank">
      <button mat-menu-item>
        <mat-icon matTooltip="connect with GitHub" svgIcon="github"></mat-icon>
      </button>
    </a>
    <a href="{{ configData.emailid }}" target="_blank">
      <button mat-menu-item>
        <mat-icon matTooltip="email" svgIcon="email"></mat-icon>
      </button>
    </a>
  </mat-menu>
  <mat-icon class="example-icon" svgIcon="{{ imageUrl }}"></mat-icon>
  <span matTooltip="About us">{{ pageTitle }}</span><span class="example-spacer"></span>
  <span matTooltip="Update Settings"><button mat-icon-button routerLink="/settings"><mat-icon svgIcon="account_circle"></mat-icon></button></span>
  <span matTooltip="eMail"><button mat-icon-button (click)="formShowing=!formShowing"><mat-icon svgIcon="email"></mat-icon></button></span>
  <!--<span matTooltip="Security Policy" [matMenuTriggerFor]="helpSecMenu"><button mat-icon-button><mat-icon svgIcon="security"></mat-icon></button></span>-->
  <span matTooltip="Help" [matMenuTriggerFor]="helpMenu"><button mat-icon-button><mat-icon svgIcon="help"></mat-icon></button></span>
</mat-toolbar>
<mat-menu #helpSecMenu="matMenu">
  <helpdesk helpType="security"></helpdesk>
</mat-menu>
<mat-menu #helpMenu="matMenu">
    <helpdesk helpType="{{ helpType }}"></helpdesk>
</mat-menu>
<mat-card class="form" *ngIf="formShowing">
  <form #emailForm="ngForm" class="example-form">
    <mat-card-title>{{ 'CONTACT-US' | translate }}</mat-card-title>
    <mat-card-content *ngIf="!emailSent else showEmailSentCard">
        <mat-error *ngIf="brokenNetwork">{{ 'NETWORK-ERROR' | translate }}</mat-error>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Name" id="name" name="name" #name="ngModel" ngModel required
          minlength="3" maxlength="30">
      </mat-form-field>
      <span *ngIf="name.invalid && (name.dirty || name.touched)">
      <mat-error *ngIf="name.errors['required']">{{ 'NAME-REQUIRED' | translate }}</mat-error>
      <mat-error *ngIf="name.errors['minlength']">{{ 'NAME-3-CHARACTERS' | translate }}</mat-error>
      <mat-error *ngIf="name.errors['maxlength']">{{ 'NAME-30-MAXIMUM-CHARACTERS' | translate }}</mat-error>
      </span>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone" name="phone" #phone="ngModel" ngModel required minlength="10" maxlength="10"
          pattern="[0-9]+">
      </mat-form-field>
      <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">{{ 'PHONE-NUMBER' | translate }}</mat-error>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="eMail" name="email" #email="ngModel" ngModel required email>
      </mat-form-field>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">{{ 'VALID-EMAIL' | translate }}</mat-error>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Message" name="message" #message="ngModel" ngModel required minlength="10"
          maxlength="200">
        </textarea>
      </mat-form-field>
      <mat-hint align="end">{{message.value?.length}} / 200</mat-hint>
      <mat-error *ngIf="message.invalid && (message.dirty || message.touched)">{{ 'MESSAGE-REQUIRED' | translate }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" (click)="onSubmit(emailForm.value);this.emailForm.reset();" mat-raised-button [disabled]="!emailForm.valid"
          color="primary">{{ 'POST' | translate }}</button>
      </mat-card-actions>
    </mat-card-content>
    <ng-template #showEmailSentCard>
      <mat-card-title>
        <font color="red">{{ 'EMAIL-SENT' | translate }}</font>
      </mat-card-title>
      <mat-card-actions align="start">
        <button type="button" (click)="this.emailForm.reset();emailSent=false;formShowing=!formShowing;" mat-raised-button color="primary">{{ 'CLOSE' | translate }}</button>
      </mat-card-actions>
    </ng-template>
  </form>
</mat-card>