<header pageTitle="Employee" imageUrl="star" helpType="employeepage"></header>
<mat-card [@fallIn]='state'>
  <mat-card-content>
    <div *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
      <!-- searchmode -->
      <form #searchFormData="ngForm" class="example-form">
        <mat-card-actions align="start">
          <button type="button" (click)="toggle('resMode');getData(searchFormData.value);" mat-raised-button [disabled]="(CODE.value == '' && DESCR.value == '')"
            color="primary">{{ 'SEARCH' | translate }}</button>
          <span class="med-spacer"></span>
          <span matTooltip="Add New">
            <mat-icon color="primary" (click)="toggle('addMode')" svgIcon="add"></mat-icon>
          </span>
          <span class="small-spacer"></span>
          <span matTooltip="Show Recent Results">
            <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
          </span>
        </mat-card-actions>
        <mat-form-field class="example-form">
          <input matInput type="text" placeholder="Employee ID" id="CODE" name="CODE" #CODE="ngModel" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field class="example-form">
          <input matInput type="text" placeholder="Employee First Name" id="DESCR" name="DESCR" #DESCR="ngModel" ngModel>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>
<!-- addMode -->
<ng-template #showAddMode>
  <form #addDataForm="ngForm" (ngSubmit)="setData(addDataForm.value);" novalidate>
    <mat-error *ngIf="savedChanges">
      {{ 'DATA-SAVED' | translate }}
      <label class="small-spacer"></label>
      <mat-icon (click)="this.addDataForm.reset();savedChanges=false;toggle('searchMode');" svgIcon="clear"></mat-icon>
    </mat-error>
    <div *ngIf="!savedChanges">
      <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!addDataForm.valid" color="primary">{{ 'ADD' | translate }}</button>
        <button type="reset" (click)="this.addDataForm.reset();" mat-raised-button [disabled]="!addDataForm.valid" color="primary">{{ 'CLEAR' | translate }}</button>
        <span class="med-spacer"></span>
        <span matTooltip="Search">
          <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Show Recent Results">
          <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
        </span>
      </mat-card-actions>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'PERSONAL-DATA' | translate }} (*)
            </mat-panel-title>
            <mat-panel-description>
              {{ 'NAME-PERSONAL-INFORMATION' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
    <mat-form-field>
        <input matInput placeholder="Employee ID" name="CODE" id="CODE" ngModel required minlength="2">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Employee Secret Key" name="SKEY" id="SKEY" ngModel required minlength="2">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="First name" name="DESCR" id="DESCR" ngModel required minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Middle name" name="MIDDLE_NAME" id="MIDDLE_NAME" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name" name="LAST_NAME" id="LAST_NAME" ngModel required minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Date of Birth" type="date" name="DOB" id="DOB" ngModel required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Father's name" name="FATHER_NAME" id="FATHER_NAME" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mother's name" name="MOTHER_NAME" id="MOTHER_NAME" ngModel minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Spouse's name" name="SPOUSE_NAME" id="SPOUSE_NAME" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Spouse Date of Birth" type="date" name="SDOB" id="SDOB" ngModel>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'ADDRESS-2' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'CONTACT-DETAILS' | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Address Type" name="ADD_TYPE_1" id="ADD_TYPE_1" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 1" name="ADD_LINE_1" id="ADD_LINE_1" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 2" name="ADD_LINE_2" id="ADD_LINE_2" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Pin Code" name="PIN_CODE" id="PIN_CODE" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State" name="STATE" id="STATE" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country" name="COUNTRY" id="COUNTRY" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Address Type (2)" name="ADD_TYPE_2" id="ADD_TYPE_2" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 1" name="ADD_LINE_12" id="ADD_LINE_12" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 2" name="ADD_LINE_22" id="ADD_LINE_22" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Pin Code" name="PIN_CODE2" id="PIN_CODE2" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State" name="STATE2" id="STATE2" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country" name="COUNTRY2" id="COUNTRY2" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Mobile 1" name="MOBILE1" id="MOBILE1" ngModel phone minlength="10">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mobile 2" name="MOBILE2" id="MOBILE2" ngModel phone minlength="10">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email 1" name="EMAIL1" id="EMAIL1" ngModel phone minlength="10">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email 2" name="EMAIL2" id="EMAIL2" ngModel phone minlength="10">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'QUALIFICATIONS' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'PERFOMANCE-DETAILS' | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Degree(s)" name="DEGREE" id="DEGREE" ngModel minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Last College Attended" name="COLLEGE" id="COLLEGE" ngModel minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="College Address Line 1" name="ADD_LINE_C1" id="ADD_LINE_C1" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="College Address Line 2" name="ADD_LINE_C2" id="ADD_LINE_C2" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="College Pin Code" name="PIN_CODE_C" id="PIN_CODE_C" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="College State" name="STATE_C" id="STATE_C" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="College Country" name="COUNTRY_C" id="COUNTRY_C" ngModel>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'REFERENCES' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'REFERENCES-DETAILS' | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Reference 1" name="REFERENCE_1" id="REFERENCE_1" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Reference 1 Address" name="REFERENCE_1_ADD" id="REFERENCE_1_ADD" ngModel minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Reference 2" name="REFERENCE_2" id="REFERENCE_2" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Reference 2 Address" name="REFERENCE_2_ADD" id="REFERENCE_2_ADD" ngModel minlength="4">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          HR (*)
        </mat-panel-title>
        <mat-panel-description>
          {{ 'COMPENSATION-DETAILS' | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-select placeholder="Job Code" name="JOB_CODE" id="JOB_CODE" ngModel required>
          <mat-option *ngFor="let code of jobCDs" [value]="code._id">
              {{ code.code }} - {{ code.descr }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Salary Code" name="SALARY_CODE" id="SALARY_CODE" ngModel required>
          <mat-option *ngFor="let code of salCDs" [value]="code._id">
            {{ code.code }} - {{ code.descr }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Leave Code" name="LEAVE_CODE" id="LEAVE_CODE" ngModel required>
          <mat-option *ngFor="let code of leaveCDs" [value]="code._id">
            {{ code.code }} - {{ code.descr }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
    </div>
  </form>
</ng-template>
<!-- edit mode -->
<ng-template #showEditMode>
  <form #editDataForm="ngForm" (ngSubmit)="updateData(editDataForm.value);" novalidate>
    <input type="hidden" name="_id" id="_id" [ngModel]="data._id" required>
    <mat-error *ngIf="savedChanges">
      {{ 'DATA-SAVED' | translate }}
      <label class="small-spacer"></label>
      <mat-icon (click)="this.editDataForm.reset();savedChanges=false;toggle('searchMode');" svgIcon="clear"></mat-icon>
    </mat-error>
    <div *ngIf="!savedChanges">
      <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">{{ 'UPDATE' | translate }}</button>
        <span class="med-spacer"></span>
        <span matTooltip="Search">
          <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Shwo Recent Results">
          <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
        </span>
      </mat-card-actions>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'PERSONAL-DATA' | translate }} (*)
            </mat-panel-title>
            <mat-panel-description>
              {{ 'NAME-PERSONAL-INFORMATION' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Employee ID" name="CODE" id="CODE" [ngModel]="data.CODE" required minlength="2">
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput placeholder="Employee Secret Key" name="SKEY" id="SKEY" [ngModel]="data.SKEY" required minlength="2">
            </mat-form-field>
            <br>
          <mat-form-field>
            <input matInput placeholder="First name" name="DESCR" id="DESCR" [ngModel]="data.DESCR" required minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Middle name" name="MIDDLE_NAME" id="MIDDLE_NAME" [ngModel]="data.MIDDLE_NAME" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last name" name="LAST_NAME" id="LAST_NAME" [ngModel]="data.LAST_NAME" required minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Date of Birth" type="date" name="DOB" id="DOB" [ngModel]="data.DOB" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Father's name" name="FATHER_NAME" id="FATHER_NAME" [ngModel]="data.FATHER_NAME" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mother's name" name="MOTHER_NAME" id="MOTHER_NAME" [ngModel]="data.MOTHER_NAME" minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Spouse's name" name="SPOUSE_NAME" id="SPOUSE_NAME" [ngModel]="data.SPOUSE_NAME" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Spouse Date of Birth" type="date" name="SDOB" id="SDOB" [ngModel]="data.SDOB">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'ADDRESS-2' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ 'CONTACT-DETAILS' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Address Type" name="ADD_TYPE_1" id="ADD_TYPE_1" [ngModel]="data.ADD_TYPE_1" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 1" name="ADD_LINE_1" id="ADD_LINE_1" [ngModel]="data.ADD_LINE_1" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 2" name="ADD_LINE_2" id="ADD_LINE_2" [ngModel]="data.ADD_LINE_2">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Pin Code" name="PIN_CODE" id="PIN_CODE" [ngModel]="data.PIN_CODE">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" name="STATE" id="STATE" [ngModel]="data.STATE">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Country" name="COUNTRY" id="COUNTRY" [ngModel]="data.COUNTRY">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Address Type (2)" name="ADD_TYPE_2" id="ADD_TYPE_2" [ngModel]="data.ADD_TYPE_2" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 1" name="ADD_LINE_12" id="ADD_LINE_12" [ngModel]="data.ADD_LINE_12" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 2" name="ADD_LINE_22" id="ADD_LINE_22" [ngModel]="data.ADD_LINE_22">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Pin Code" name="PIN_CODE2" id="PIN_CODE2" [ngModel]="data.PIN_CODE2">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" name="STATE2" id="STATE2" [ngModel]="data.STATE2">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Country" name="COUNTRY2" id="COUNTRY2" [ngModel]="data.COUNTRY2">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Mobile 1" name="MOBILE1" id="MOBILE1" [ngModel]="data.MOBILE1" phone minlength="10">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile 2" name="MOBILE2" id="MOBILE2" [ngModel]="data.MOBILE2" phone minlength="10">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Email 1" name="EMAIL1" id="EMAIL1" [ngModel]="data.EMAIL1" phone minlength="10">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email 2" name="EMAIL2" id="EMAIL2" [ngModel]="data.EMAIL2" phone minlength="10">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'QUALIFICATIONS' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ 'PERFOMANCE-DETAILS' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Degree(s)" name="DEGREE" id="DEGREE" [ngModel]="data.DEGREE" minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Last College Attended" name="COLLEGE" id="COLLEGE" [ngModel]="data.COLLEGE" minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="College Address Line 1" name="ADD_LINE_C1" id="ADD_LINE_C1" [ngModel]="data.ADD_LINE_C1" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="College Address Line 2" name="ADD_LINE_C2" id="ADD_LINE_C2" [ngModel]="data.ADD_LINE_C2">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="College Pin Code" name="PIN_CODE_C" id="PIN_CODE_C" [ngModel]="data.PIN_CODE_C">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="College State" name="STATE_C" id="STATE_C" [ngModel]="data.STATE_C">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="College Country" name="COUNTRY_C" id="COUNTRY_C" [ngModel]="data.COUNTRY_C">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'REFERENCES' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ 'REFERENCES-DETAILS' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Reference 1" name="REFERENCE_1" id="REFERENCE_1" [ngModel]="data.REFERENCE_1" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Reference 1 Address" name="REFERENCE_1_ADD" id="REFERENCE_1_ADD" [ngModel]="data.REFERENCE_1_ADD" minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Reference 2" name="REFERENCE_2" id="REFERENCE_2" [ngModel]="data.REFERENCE_2" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Reference 2 Address" name="REFERENCE_2_ADD" id="REFERENCE_2_ADD" [ngModel]="data.REFERENCE_2_ADD" minlength="4">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              HR (*)
            </mat-panel-title>
            <mat-panel-description>
              {{ 'COMPENSATION-DETAILS' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-select placeholder="Job Code" name="JOB_CODE" id="JOB_CODE" [ngModel]="data.JOB_CODE" required>
              <mat-option *ngFor="let code of jobCDs" [value]="code._id">
                  {{ code.code }} - {{ code.descr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Salary Code" name="SALARY_CODE" id="SALARY_CODE" [ngModel]="data.SALARY_CODE" required>
              <mat-option *ngFor="let code of salCDs" [value]="code._id">
                  {{ code.code }} - {{ code.descr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Leave Code" name="LEAVE_CODE" id="LEAVE_CODE" [ngModel]="data.LEAVE_CODE" required>
              <mat-option *ngFor="let code of leaveCDs" [value]="code._id">
                {{ code.code }} - {{ code.descr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>
</ng-template>
<!-- Results mode -->
<ng-template #showResMode>
  <mat-card-actions align="start">
    <span class="med-spacer"></span>
    <span class="med-spacer"></span>
    <span class="med-spacer"></span>
    <span matTooltip="Add New">
      <mat-icon color="primary" (click)="toggle('addMode')" svgIcon="add"></mat-icon>
    </span>
    <span class="small-spacer"></span>
    <span matTooltip="Search All">
      <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
    </span>
  </mat-card-actions>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Recent Results">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="CODE">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EMPLOYEE-ID' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.CODE}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="DESCR">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'NAME' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.DESCR}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef>{{ 'ACTION' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span matTooltip="Edit">
            <button mat-icon-button (click)="getDoc(row._id)">
              <mat-icon color="primary" svgIcon="edit"></mat-icon>
            </button>
          </span>
          <span matTooltip="Delete">
            <button mat-icon-button (click)="deleteDoc(row._id)">
              <mat-icon color="primary" svgIcon="delete"></mat-icon>
            </button>
          </span>
          <span matTooltip="Salary">
            <button mat-icon-button routerLink="/salary/{{row._id}}">
              <mat-icon color="primary" svgIcon="salary"></mat-icon>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</ng-template>