<header pageTitle="Salary Code" imageUrl="business" helpType="salarypage"></header>
<mat-card>
  <mat-card-content>
    <div *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
      <!-- searchmode -->
      <form #searchFormData="ngForm" class="example-form">
        <mat-card-actions align="start">
          <button type="button" (click)="toggle('resMode');getData(searchFormData.value);" mat-raised-button [disabled]="(code.value == '' && descr.value == '')"
            color="primary">{{ 'SEARCH' | translate }}</button>
          <span class="med-spacer"></span>
          <span matTooltip="Add New">
            <mat-icon color="primary" (click)="toggle('addMode')" svgIcon="add"></mat-icon>
          </span>
          <span class="small-spacer"></span>
          <span matTooltip="Show Recent Results">
            <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
          </span>
        </mat-card-actions>
        <mat-form-field class="example-form">
          <input matInput type="text" placeholder="Salary Code" id="code" name="code" #code="ngModel" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field class="example-form">
          <input matInput type="text" placeholder="Salary Code Descr" id="descr" name="descr" #descr="ngModel" ngModel>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>
<!-- addMode -->
<ng-template #showAddMode>
  <form [formGroup]="addDataForm" (ngSubmit)="setData(addDataForm.value);this.addDataForm.reset();" novalidate>
    <mat-error *ngIf="savedChanges">
      {{ 'DATA-SAVED' | translate }}
      <label class="small-spacer"></label>
      <mat-icon (click)="this.addDataForm.reset();savedChanges=false;toggle('searchMode');" svgIcon="clear"></mat-icon>
    </mat-error>
    <div *ngIf="!savedChanges">
      <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!addDataForm.valid" color="primary">{{ 'ADD' | translate }}</button>
        <button type="reset" (click)="this.addDataForm.reset();" mat-raised-button [disabled]="!addDataForm.valid" color="primary">{{ 'CLEAR' | translate }}</button>
        <span class="med-spacer"></span>
        <span matTooltip="Search">
          <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Show Recent Results">
          <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
        </span>
      </mat-card-actions>
      <mat-form-field>
        <input matInput placeholder="Salary Code" formControlName="code" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Salary Code Descr" formControlName="descr" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Base Salary" formControlName="bsalary" (keyup)="calculateTotal('addDataForm')" required pattern="^\d*\.?\d+$">
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <div formArrayName="line">
        <div *ngFor="let item of addDataForm.get('line').controls; let pointIndex=index" [formGroupName]="pointIndex">
          <mat-form-field>
            <mat-select placeholder="Pay Frequency" formControlName="frequency" required>
              <mat-option *ngFor="let CD of freqCDs" [value]="CD">
                {{ CD }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Amount Type (+/-)" formControlName="ptype" (keyup)="calculateTotal('addDataForm')" required>
              <mat-option *ngFor="let CD of pCDs" [value]="CD">
                {{ CD }}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="PF/TA/DA.." formControlName="payval" required>
            </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Amount" (keyup)="calculateTotal('addDataForm')" formControlName="amount" required pattern="^\d*\.?\d+$">
          </mat-form-field>
          <mat-icon svgIcon="clear" color="warn" (click)="deleteLINES(pointIndex,'addDataForm')">{{ 'DELETE' | translate }}</mat-icon>
        </div>
        <mat-icon svgIcon="add" color="primary" (click)="addLINES('addDataForm')"></mat-icon>
      </div>
      <br>
      <mat-form-field>
        <input matInput readonly="" placeholder="Gross Amount" formControlName="gamount" pattern="^\d*\.?\d+$">
      </mat-form-field>
    </div>
  </form>
</ng-template>
<!-- edit mode -->
<ng-template #showEditMode>
    <form [formGroup]="editDataForm" (ngSubmit)="updateData(editDataForm.value);" novalidate>
    <input type="hidden" formControlName="_id" required>
    <mat-error *ngIf="savedChanges">
      {{ 'DATA-SAVED' | translate }}
      <label class="small-spacer"></label>
      <mat-icon (click)="this.editDataForm.reset();savedChanges=false;toggle('searchMode');" svgIcon="clear"></mat-icon>
    </mat-error>
    <div *ngIf="!savedChanges">
      <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">{{ 'UPDATE' | translate }}</button>
        <span class="med-spacer"></span>
        <span matTooltip="Search">
          <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Shwo Recent Results">
          <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
        </span>
      </mat-card-actions>
      <mat-form-field>
        <input matInput placeholder="Salary Code" formControlName="code">
        <mat-hint align="end">eg SALMGR_1</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Salary Code Descr" formControlName="descr">
        <mat-hint align="end">eg Sales Manager Grade 1</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Base Salary" formControlName="bsalary" (keyup)="calculateTotal('editDataForm')" required pattern="^\d*\.?\d+$">
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <div formArrayName="line">
        <div *ngFor="let item of this.editDataForm.get('line').controls; let pointIndex=index" [formGroupName]="pointIndex">
          <mat-form-field>
            <mat-select placeholder="Pay Frequency" formControlName="frequency" required>
              <mat-option *ngFor="let CD of freqCDs" [value]="CD">
                {{ CD }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Amount Type (+/-)" formControlName="ptype" (change)="calculateTotal('editDataForm')" required>
              <mat-option *ngFor="let CD of pCDs" [value]="CD">
                {{ CD }}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="PF/TA/DA.." formControlName="payval" required>
            </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Amount" (keyup)="calculateTotal('editDataForm')" formControlName="amount" required pattern="^\d*\.?\d+$">
          </mat-form-field>
          <mat-icon svgIcon="clear" color="warn" (click)="deleteLINES(pointIndex,'editDataForm')">{{ 'DELETE' | translate }}</mat-icon>
        </div>
        <mat-icon svgIcon="add" color="green" (click)="addLINES('editDataForm')"></mat-icon>
      </div>
      <br>
      <mat-form-field>
        <input matInput readonly="" placeholder="Gross Amount" formControlName="gamount" pattern="^\d*\.?\d+$">
      </mat-form-field>
        
    </div>
  </form>
</ng-template>
<!-- Results mode -->
<ng-template #showResMode>
  <mat-card-actions align="start">
    <span class="med-spacer"></span>
    <span class="med-spacer"></span>
    <span class="med-spacer"></span>
    <span matTooltip="Add New">
      <mat-icon color="primary" (click)="toggle('addMode')" svgIcon="add"></mat-icon>
    </span>
    <span class="small-spacer"></span>
    <span matTooltip="Search All">
      <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
    </span>
  </mat-card-actions>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Recent Results">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'SALARY-CODE' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descr</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.descr}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span matTooltip="Edit">
            <button mat-icon-button (click)="getDoc(row._id)">
              <mat-icon color="primary" svgIcon="edit"></mat-icon>
            </button>
          </span>
          <span matTooltip="Delete">
            <button mat-icon-button (click)="deleteDoc(row._id)">
              <mat-icon color="primary" svgIcon="delete"></mat-icon>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</ng-template>