<header pageTitle="Settings" imageUrl="account_circle" helpType="settingspage"></header>
<mat-card [@fallIn]='state' *ngIf="!savedChanges else showSavedChangesCard">
  <form #formData='ngForm'>
    <mat-card-content>
      <mat-card-title>
        <span class="small-headline">{{ 'UPDATE-SETTINGS' | translate }}</span>
      </mat-card-title>
      <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
      <mat-error *ngIf="error">{{ 'YOUR-AUTHENTICATION' | translate }}</mat-error>
      <mat-card-actions align="start">
        <button type="button" (click)="onSubmit(formData.value);" [disabled]="!formData.valid" mat-raised-button color="primary">{{ 'UPDATE' | translate }}</button>
        <button type="button" (click)="getUser()" mat-raised-button color="primary">{{ 'REFRESH' | translate }}</button>
        <button type="button" [routerLink]="['/login']" mat-raised-button color="primary">{{ 'LOGOUT' | translate }}</button>
      </mat-card-actions>
      <mat-form-field class="example-form">
        <input matInput placeholder="name" name="name" #name="ngModel" [ngModel]="this.data?.name" ngModel required minlength="5" maxlength="30">
      </mat-form-field>
      <span *ngIf="name.invalid && (name.dirty || name.touched)">
        <mat-error *ngIf="name.errors['required']">{{ 'NAME-REQUIRED' | translate }}</mat-error>
        <mat-error *ngIf="name.errors['minlength']">{{ 'NAME-5-CHARACTERS' | translate }}</mat-error>
        <mat-error *ngIf="name.errors['maxlength']">{{ 'NAME-30-CHARACTERS' | translate }}</mat-error>
      </span>
      <br />
      <mat-form-field class="example-form">
        <input matInput readonly placeholder="email" name="email" #email="ngModel" [ngModel]="this.data?.email" required email>
      </mat-form-field>
      <br />
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">{{ 'VALID-EMAIL' | translate }}</mat-error>
      <mat-form-field class="example-form">
        <input matInput type="password" placeholder="Choose app password" name="password" #password="ngModel" ngModel required minlength="5"
          maxlength="30">
      </mat-form-field>
      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <mat-error *ngIf="password.errors['required']">{{ 'PASSWORD-REQUIRED' | translate }}</mat-error>
        <mat-error *ngIf="password.errors['minlength']">{{ 'PASSWORD-5-CHARACTERS' | translate }}</mat-error>
        <mat-error *ngIf="password.errors['maxlength']">{{ 'PASSWORD-REQUIRED' | translate }}</mat-error>
      </span>
    </mat-card-content>
  </form>
</mat-card>
<ng-template #showSavedChangesCard>
  <br>
  <br>
  <br>
  <br>
  <mat-error>
    {{ 'YOUR-DATA-UPDATED' | translate }}
  </mat-error>
  <br>
  <br>
  <br>
  <br>
  <mat-card-actions align="start">
    <button type="button" (click)="savedChanges=false;routeLoginPage();" mat-raised-button color="primary">{{ 'CLOSE' | translate }}</button>
  </mat-card-actions>
</ng-template>
<footer></footer>